.footer {
    background: radial-gradient(ellipse at center, rgba(75, 0, 130, 0.9), #090909 80%);
    padding: 20px 0;
    color: #fff;
    text-align: center;
    margin-top: 2rem;
}

.footer p {
    margin: 0;
    font-size: 0.9rem;
}

.footer a {
    color: #e74c3c;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #c0392b;
}