.recent-blog-header {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

@media (max-width: 768px) {
    .card-grid {
        grid-template-columns: repeat(2,1fr);
    }
}



